* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

img,
iframe,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    /* +/- 960px era o valor do Width, nesse caso foi usado valor aproximado, para manter o layout centralizado*/
    width: 67.5%;
}

h1 {
    /*32px; realizado conversão  32/16 = 2em*/
    font-size: 2em;
}

.content {
    /* 15px 0, realizado a conversão 15/960 = 0,015625*100=1,5625 */
    margin: 1.5625% 0;
}

.content-main {
    float: left;
    /* 593px(.content-main) / 960 (.container) */
    width: 61.7708%;
}

.hero {
    /* 25/593 (margin era de 25px) */
    margin: 4.2158% 0;
}

.brief {
    /* 5 / 593 (Margin era de 5px) */
    /* = 0.8431%, que, opcionalmente, pode ser arredondado para 1% */
    margin: 1% 0;
}

.last-contents {
    /* 12/16 = 0,75*100=75 (font-size era 12px)*/
    font-size: .75em;
}

.last-content-call {
    float: left;
    /* 15 / 593 (.content-main) margin era 15px */
    margin: 2.5295% 2.5295% 2.5295% 0;
    /* 280 / 593 (.content-main) width era 280px */
    width: 47.2175%;
}

.last-content-call .secondary-title {
    margin-bottom: 0;
}

.last-content-call .brief {
    /* 5 / 280 (margin era 5px)*/
    margin: 1.7857% 0;
}

.content-sidebar {
    background-color: #f0f0f0;
    float: right;
    /* 10/960 (padding era 10px) */
    padding: 1.0416%;
    /* 322/960 (width era 322px) */
    width: 33.5416%;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav li {
    background-color: #f9f9f9;
    float: left;
    /* 15 / 322 (.content-sidebar), margin era 15px */
    margin: 4.6583%;
    outline: 1px solid #dedede;
    text-align: center;
    /* 130 / 322 (.content-sidebar), width era 130px */
    width: 40.3726%;
}

.main-nav a {
    display: block;
    /* 10 / 130 (130 era o valor do width em .main-nav li ) */
    padding: 7.6923%;
    text-decoration: none;
}

.main-footer {
    background-color: #f0f0f0;
    clear: both;
    float: left;
    /* 12 / 16  (font-size era 12px) */
    font-size: .75em;
    /* 15 / 960 (.container)*/
    margin: 1.5625% 0;
    /* 15 / 960 (.container)*/
    padding: 1.5625%;
    text-align: center;
    width: 100%;
}