/*A propriedade width xa a largura para 960px, adequando o conteúdo a telas
de pelo menos Õþó¦px de largura, como tablets e netbooks.A margem superior e
inferior está com 0, e as margens laterais em auto cuidam de centralizar o elemento
na página.*/

.container {
    margin: 0 auto;
    width: 960px;
}


/*o line-height de 1.6, sem nenhuma medida específica - como px ou em -
indica para a altura das linhas ficarem com 160% da altura da fonte. Caso ela esteja
em 16px, o line-height será 25px. Caso a altura da fontemude, a altura da linha detexto irá acompanhar essamudança, respeitando a regra de sempre ser 1.6 da altura
da fonte.*/

body {
    background: #fff1d6 url(images/noise.png);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

article {
    background-color: #fff;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

article a {
    color: #2c88a7;
    font-weight: bold;
}

h1 a {
    color: #7e9f19;
    text-decoration: none;
}

h1 a:hover {
    background-color: #7E9F19;
    color: #FFF;
}

article img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
    width: 156px;
    height: 156px;
}

.clear {
    clear: both;
}

footer {
    font-size: 12px;
    text-align: center;
}

aside {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    float: right;
    padding: 10px;
    width: 260px;
}

aside h3 {
    font-size: 14px;
    margin-top: 0;
}

aside ol {
    font-size: 12px;
}

.places {
    float: left;
    width: 660px;
}